.DS_Store
node_modules
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log

run.sh

web/test/unit/coverage/
web/test/e2e/reports/

api/docker/workdir

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln