.DS_Store
node_modules
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log

run*

web/test/unit/coverage/
web/test/e2e/reports/

api/docker/workdir

todo*
deploy.sh

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.code-workspace

web/build/custom-loaders/*.js