<div fxLayout="column" fxLayoutAlign="center center">
	<div class="box padding">
		<h3 class="padding">products</h3>
		<table id="result" *ngIf="value(searchResponse.products)" class="padding">
			<tr class="padding">
				<th class="padding">Name</th>
				<th *ngFor="let attribute of searchResponse.attributes" class="padding">
					{{attribute.name}}: {{attribute.description}}
				</th>
			</tr>
			<tr *ngFor="let product of searchResponse.products">
				<td class="padding">
					{{product.name}}: {{product.description}}.
				</td>
				<td *ngFor="let attribute of searchResponse.attributes" class="padding">
					<div *ngIf="value(product.productData.get(attribute.id)); else noProductValue; let productValue">
						{{ productValue.value }} {{ attribute.unit }}
					</div>
					<ng-template #noProductValue>
						?
					</ng-template>
				</td>
			</tr>
		</table>
		<div *ngIf="!value(searchResponse.products)">No results</div>
	</div>
</div>